In [1]:
# Python imports
import math
import warnings
from tempfile import NamedTemporaryFile

import numpy as np
import pandas as pd
from scipy.stats import rankdata
from sklearn.preprocessing import minmax_scale
import dask.dataframe as dd

from pybedtools import BedTool
from genomepy import Genome

from ananse import mytmpdir

In [52]:
binding = "results/binding.txt"
ddf = dd.read_csv(binding, sep="\t")[["factor", "enhancer", "binding"]]

In [53]:
ddf.head()

          factor                   enhancer   binding
0  9430076C15RIK  chr10:119207353-119207553  0.559406
1  9430076C15RIK      chr10:1600958-1601158  0.362134
2  9430076C15RIK    chr10:30447410-30447610  0.382891
3  9430076C15RIK    chr10:35306927-35307127  0.350165
4  9430076C15RIK    chr10:37489166-37489366  0.451121

In [51]:
enhancerbed = pd.DataFrame(set(ddf.enhancer))
# 
enhancerbed[["chr","site"]]=enhancerbed[0].str.split(":",expand=True)
enhancerbed[["start","end"]]=enhancerbed.site.str.split("-",expand=True)
enhancerbed.drop(columns=[0,"site"], inplace=True)
enhancerbed.to_csv()

     chr     start       end
0   chr8  81732338  81732538
1   chr4  32161404  32161604
2  chr17  43231746  43231946
3   chr5  80407862  80408062
4   chr6  99425255  99425455

       chr      start        end
0     chr8   81732338   81732538
1     chr4   32161404   32161604
2    chr17   43231746   43231946
3     chr5   80407862   80408062
4     chr6   99425255   99425455
..     ...        ...        ...
995   chr4   43457877   43458077
996   chr6  118935010  118935210
997  chr10     338546     338746
998   chrX  103656709  103656909
999  chr21    7569729    7569929

[1000 rows x 3 columns]